@model Library.Domain.Entity.Book

<div class="well">
   @if (Model.ImageData != null)
   {
    <div class="pull-left" style="margin-right: 10px">
        <img class="img-thumbnail" width="75" height="75"
             src="@Url.Action("GetImage", "Book",
                new { Model.BookId })" />
    </div>
   }
    <h2>
        @Model.Name
    </h2>
    @using (Html.BeginForm("AddToOrder", "Order"))
    {
        <div class="pull-right">
            @Html.HiddenFor(x => x.BookId)
            @Html.Hidden("returnUrl", Request.Url.PathAndQuery)
            <input type="submit" class="btn btn-success" value="Заказать" />
        </div>
    }
        <h4>
            
            <span class="pull-right label label-primary">@Model.Rating</span>
            @Model.Author
       
        
            @Model.Publishing
            @Model.Year
        </h4>
        
        <font>
            <span class="lead">@Model.Description</span>
        </font>
        <h4>@Model.Category</h4>
</div>
