@model Library.Web.Models.OrderIndexViewModel

@{
    ViewBag.Title = "Library: заказать книгу";
}
@{
    Layout = "~/Views/Shared/Layout.cshtml";
}

<style>
    #orderTable td {
        vertical-align: middle;
    }
</style>

<h2>Ваш заказ</h2>
<table id="orderTable" class="table">
    <thead>
        <tr>
            <th>Кол-во</th>
            <th>Книга</th>
            <th class="text-right">Автор</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var line in Model.Order.LineCollection)
        {
            <tr>
                <td class="text-center">@line.Quantity</td>
                <td class="text-left">@line.Book.Name</td>
                <td class="text-right">@line.Book.Author</td>
                <td>
                    @using (Html.BeginForm("RemoveFromOrder", "Order"))
                    {
                        @Html.Hidden("BookId", line.Book.BookId)
                        @Html.HiddenFor(x => x.ReturnUrl)
                        <input class="btn btn-sm btn-warning" type="submit" value="Удалить" />
                    }
                </td>

            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <td colspan="3" class="text-right">___</td>
            <td class="text-right"></td>
        </tr>
    </tfoot>

</table>

<div class="text-center">
    <a class="btn btn-primary" href="@Model.ReturnUrl">Выбрать еще книгу</a>
    @Html.ActionLink("Оформить заказ", "Checkout", null, new { @class = "btn btn-primary" })
</div>
